body {
    background-color: #000000;
}

#placeholder {
    width: 520px;
    height: 300px;
    margin: auto;
    margin-top: 10px;
}

h1 {
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
}

p {
    text-align: center;
    color: #FFFFFF;
}

form {
    text-align: center;
}

label {
    color: #FFFFFF;
}